.order {
  position: relative;
  height: 1024px;
  background-color: rgba(39, 39, 51, 1);
  text-align: center;
  overflow: hidden;
  padding-block-start: 120px;
  padding-inline: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/order-section-bg.png) no-repeat center/cover;
    opacity: 0.1;
    z-index: 1;
  }

  &__container {
    max-width: 1170px;
    margin: auto;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 40px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-size: clamp(24px, 2vw, 36px);
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__description {
    font-size: $base-font-size;
    opacity: 0.5;
    font-weight: 400;
  }

  .steps {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin-top: 80px;
    z-index: 3;

    @media screen and (max-width: 987px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      margin-top: 30px;
    }

    .steps__gap {
      margin: 47px -67px 0;

      @media screen and (max-width: 987px) {
        transform: rotate(90deg) scale(0.3);
        margin: 0 0 0 -17px;
      }
    }

    .steps__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      width: 100%;
      max-width: 209px;

      @media screen and (max-width: 987px) {
        flex-direction: row;
        text-align: left;
        justify-content: flex-start;
        max-width: unset;
      }

      .steps__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: $blue-color;
        border: 5px solid #286690;
        border-radius: 50%;

        @media screen and (max-width: 987px) {
          width: 75px;
          height: 75px;
          min-width: 75px;
          min-height: 75px;
        }
      }
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: 30px;
    max-width: 1170px;
    margin-inline: auto;
    margin-block: 20px;
    justify-content: stretch;
    position: relative;
    z-index: 2;

    &-group {
      width: 100%;
    }

    &-input,
    &-select {
      width: 100%;

      input,
      select {
        padding: 10px 12px;
        border-radius: 5px;
        border: none;
        font-size: clamp(12px, 1vw, 16px);
        color: $black-color;
        width: 100%;
        box-sizing: border-box;

        &::placeholder {
          color: $black-color;
        }
      }
    }

    .progress-label {
      align-self: flex-start;
      font-size: $base-font-size;
    }

    #progress {
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      height: 6px;
      padding: 0;
      background: #c0c0c0;
      border-radius: 3px;
      outline: none;
      position: relative;
      border: 1px solid $blue-color;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: #008cff;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        transition: 0.3s;

        &:hover {
          background: #006bb3;
        }
      }

      &::-moz-range-thumb {
        width: 16px;
        height: 16px;
        background: #008cff;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #006bb3;
        }
      }
    }

    .slider {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    .slider-label-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
    }

    .slider-value {
      white-space: nowrap;
      color: $white-color;
      align-self: flex-end;
      font-size: $base-font-size;
    }

    &-btn {
      text-align: center;
      width: 100%;
      max-width: 370px;
      max-height: 48px;
      font-size: clamp(10px, 1vw, 15px);
      cursor: pointer;
      transition: 0.3s;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 5px;
    }

    .file {
      background: $white-color;
      color: $black-color;
      border: 1px solid $blue-color;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &:hover {
        background: darken($white-color, 10%);
      }
    }

    .submit {
      background: $blue-color;
      color: $white-color;
      border: 1px solid $white-color;
      grid-column: span 3;
      justify-self: center;
      padding-block: 17px;
      margin-block-start: 15px;
      max-width: 30%;

      &:hover {
        background: darken($blue-color, 10%);
      }
    }

    .order__form-select {
      grid-column: span 1;
    }

    .order__form-input:nth-child(2) {
      grid-column: span 1;
    }

    .order__form-input:nth-child(3) {
      grid-column: span 1;
    }

    .order__form-input:nth-child(4) {
      grid-column: span 2;
    }

    .file {
      grid-column: span 1;
    }
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .order {
    padding-block-start: 80px;

    &__container {
      margin: 0;
    }

    &__form {
      gap: 15px;

      &-btn {
        height: 34px;
        max-width: 100%;
      }

      .submit {
        padding-block: 10px;
        max-width: 30%;
      }

      .slider {
        gap: 10px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .order {
    bottom: 0;
    padding-block-start: 30px;

    &__container {
      margin: 0;
    }

    &__form {
      grid-template-columns: 1fr;
      padding-block-start: 10px;
      gap: 15px;

      &-btn {
        max-height: 34px;
      }

      select {
        padding: 7px;
      }

      .submit {
        padding-block: 10px;
        max-width: 100%;
        margin: 0;
      }

      .slider {
        gap: 10px;
      }
    }

    .order__form-select {
      grid-column: span 3;
    }

    .order__form-input:nth-child(2) {
      grid-column: span 3;
    }

    .order__form-input:nth-child(3) {
      grid-column: span 3;
    }

    .order__form-input:nth-child(4) {
      grid-column: span 3;
    }

    .file {
      grid-column: span 3;
      align-self: center;
      justify-content: center;
      padding: 10px;
    }
  }
}
